<h2 style="text-align: center">{{store.name}}  Menu</h2>
<br/>
<br/>
<div class="col-sm-12 justify-content-end">
  <form [formGroup]="sortProductForm" (ngSubmit)="sortProduct()">
    <button type="submit" class="btn btn-primary col-sm-4" style="width: auto; margin-right: 50px">Filter</button>
    <div class="dropdown col-sm-8">
      <select class="btn-primary" style="margin-left: 400px; padding: 6px; width: max-content" formControlName="sort">
        <option  value="{{sorts[0]}}">{{sorts[0]}}</option>
        <option value="{{sorts[1]}}" >{{sorts[1]}}</option>
        <option value="{{sorts[2]}}">{{sorts[2]}}</option>
        <option value="{{sorts[3]}}">{{sorts[3]}}</option>
      </select>
    </div>
  </form>
</div>
<br/>
<br/>
<div class="row">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-sm-4" style="border: 1px solid black; margin: 2px; width: 50px" *ngFor="let product of products">
        <p><b>{{product.id}}</b></p>
        <p><b>{{product.name}}</b></p>
        <hr/>
        <p><b>Toppings :</b><span *ngFor="let topping of toppings">
      <span>{{topping.name}}</span>,
    </span>
        </p>
        <p><b>$ {{product.price}}</b></p>
      </div>
    </div>
  </div>
</div>
